*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    

}
.corFundo1{
    background-color: rgb(228, 19, 19);
    width: 100%;
    border-radius: 0%;
    display: flex;
   
   
}
.linha1{
    display: flex;
    width: 100%;
   justify-content:end;

}
.circulo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blueviolet;
}





.corFundo2{
    background-color: rgb(148, 39, 140);
    width: 100%;
    border-radius: 0%;
    display: flex;
   
   
}
.linha2{
    display: flex;
    width: 100%;
   justify-content:end;

}
.circulo2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(43, 226, 104);
}





.corFundo3{
    background-color: rgb(180, 198, 45);
    width: 100%;
    border-radius: 0%;
    display: flex;
   
   
}
.linha3{
    display: flex;
    width: 100%;
   justify-content:center;

}
.circulo3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(183, 217, 194);
}
